@charset "utf-8";

/* CSS Document */

body {
	background-color:#666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#header {
	width: 500px;
	height: 60px;
	padding: 10px 10px 10px 10px;
	margin: 0 auto 0 auto;
	background-color: #557;
	border-bottom: 1px solid #000;
}

#content {
	width: 500px;
	margin: 0 auto 0 auto;
	padding: 10px 10px 10px 10px;
	background: #777;
}

#footer {
	width: 500px;
	height: 20px;
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	text-align: center;
	color: #666;
	background-color:#555;
	border-top: 1px solid #000;
}

